.container {
  padding: 20px 20px 30px;
  margin: auto;
  width: 100%;
  max-width: 800px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
}

.link {
  display: flex;
  align-items: center;
}

.link:hover {
  text-decoration: underline;
}