.main {
  display: flex;
  flex-direction: column;
  margin: 48px auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  min-height: 100vh;
}

.mainContainer{
  width: 100%;
  max-width: 800px;
}

.presentation {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.35;
}

.highlight{
  color: var(--color-highlight);
  font-weight: 600;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

@media (max-width: 465px){
  .presentation {
    font-size: 1rem;
  }

  .main {
    margin: 10px auto;
  }
}







